In [25]:
import pandas as pd
import pickle

filename = 'trained_model.sav'
model = pickle.load(open(filename, 'rb'))

a = float(input('Value for Sunlit%: '))
b = float(input('Value for Skyviewfactor%: '))
data_in = [[a,b]]
pred = model.predict(data_in)
m_prediction = pd.DataFrame(pred)
#m_prediction = multi_prediction.drop(multi_prediction.index[-1])
#XY = XX.columns.name = None
m_prediction.to_csv('./results/Situation_prediction.csv', index = False, header=None)
#m_prediction
m_prediction

Value for Sunlit%: 90
Value for Skyviewfactor%: 80

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,2229.4015,266.9133,3.07,16.696,1458.567,0.0235,0.0114,0.018,0.0631,0.2375,...,3.3848,0.0,0.02,0.0,0.04,0.01,0.03,0.06,0.01,0.18